*
{
    text-align: center;
}
.card
{
    background: #fff;
    color: black;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 14px;
    padding: 12px 17px;
    transition: 0.7s;
    width: 14rem;
}
.card:hover
{
    background: #525557;
    color: #fff;
    transform: scale(1.1);
}